<template>
  <Layout>

    <center>
        <h1>Blog!</h1>

        <p>
              <div v-for="{ node } in $page.allBlogPost.edges" :key="node.id" class="text-xl">
                    <g-link :to="node.path">{{ node.title }}</g-link>
              </div>
        </p>

    </center>
  </Layout>
</template>

<page-query>
query {
  allBlogPost {
    edges {
      node {
        id
        title
        path
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Blog!'
  }
}
</script>
