<template>
  <Layout>
    <h1>About Accelerando</h1>
    <p>Accelerando is a musical term meaning basically 'getting faster'. Our three arrow logo takes inspiration from one way of notating this on sheet music.</p>
    
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About us'
  }
}
</script>
