<template>
  <Layout>

    <!-- Learn how to use images here: https://gridsome.org/docs/images -->
    <g-image alt="Example image" src="~/favicon.png" width="135" />

    <h1>Accelerando Academy</h1>

    <p>
      Here at Accelerando Academy, we accelerate good things.
      <br>
      Technology Acceleration
      <br>
      Career Acceleration
      <br>
      Learning Acceleration
      <br>
      Tech, but faster!
      Accelerate your progress with Accelerando Academy!
      <br>
      CEOs - accelerate your team's technical progress
      Developers and workers - accelerate your career
      Parents - accelerate your child's education
    </p>

  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>
